/* @import url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'); */


.panel-default>.panel-heading {
    color: #000000 ! important;
    background-color: #ddede0 ! important;
    border-color: #ddede0 ! important;
    font-size: 20px;
    padding: 10px;
}

.form-inline {
    margin-left: 690px;
}

@media screen and (max-width: 320px) {
    .form-inline {
        margin-left: 0px !important;
        width: 130px !important;

    }

    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        margin-left: 133px !important;
        margin-top: -34px;
    }

    .text-center {
        text-align: center !important;
        font-size: 20px !important;
    }
}

@media screen and (max-width: 767px) {
    nav {
        margin-left: 0px !important;
    }

    .form-inline {
        margin-left: 0px !important;
        width: 200px;

    }

    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        margin-left: 202px;
        margin-top: -34px;
    }
    input {
    line-height: normal;
    width: 130px !important;

}
.btn-success {
    color: #fff;
    background-color:#0e79a5 !important;
    border-color: #0e79a5 !important;
    margin-left: 133px !important;
    margin-top: -33px !important;
}

}
.btn-success {
    color: #fff;
    background-color:#0e79a5 !important;
    border-color: #0e79a5 !important;
    /* margin-left: 133px !important;
    margin-top: -33px !important; */
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #0e79a5 !important;
    border-color: #0e79a5 !important;
}
input {
    line-height: normal;
    /* width: 0px; */
}
nav {
    margin-left: 830px;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    height: 42px;
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
    height: 42px;
    padding: 10px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 7px 13px;
}

